img{
  height: 100%;

}

td{
  height: 100px;
}

h2{
 text-align: center;
 color:gray;
}

.precio{
 display:block;
 font-size:20px;
}

#carrito{
  width: 40%; 
  background-color: #2ba591; 
  height: fit-content;
  margin-top: 25px;
}

#listaProductos{

width: 70%;
}

#contenedorPadre{

display:flex;
}

nav span{
    font-size:large;
    font-weight: 400;
    color: black;
    font-style:italic;
}

.div{
    margin: 10px;
}

.btn-primary:hover{
    transition: 0.5s;
    background-color: #006400;
}

.bg-blue {
    background-color: #2ba591;
}

nav img{
    width: 60px;
}

.titulos{
    text-decoration: underline;
    color: black
}

main{
    margin-top: 100px;
}


.btn{
    margin-top: 8px;
    justify-self: center;
}

.centered{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
}

.totalEstilo{
    font-weight: bold;
    font-size: 20px;
    margin: 2px;

}

.animate__slideInUp{
    animation-duration: 1.5s;
    animation-delay: 0.2s;
}


.footer {
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    color: silver;
    text-align: center;
}

.footer p {
    text-align: center;
}
  
footer p{
    font-size: larger;
    font-weight: 400;
    color: black;
    font-style:italic;
}

.imagenes-footer a {
    text-decoration: none;
}
  
.text-flex {
    color: white;
}
  
  
.nav-link {
    color: black
}

.img-footer{
    width: 33%
}

nav img {
    width: 50px;
}

.animate__slideInUp{
    animation-duration: 700ms;
}